span.title {
  position: absolute;
  left: 0;
  margin-left: 1%;
}

.list-group {
  list-style-type: none;
  position: absolute;
  left: 0;
  margin-top: 2.5%;
  margin-left: 40%;
}

.list {
  padding: 10px;
  border: 1px solid #bbb;
  background-color: #eee;
}
